.table {
  display: grid;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #000000;
}

.header {
  border: 1px solid #000000;
  padding: 3px 20px;
}

.cell {
  border: 0.5px solid #c1c5c2;
  padding: 3px 10px;
  min-height: 15px;
}

.cell[data-status="edit"] {
  outline: 2px solid #25a03b;
  outline-offset: -2px;
}

.cell[data-status="active"] {
  outline: 2px solid #25a03b;
  outline-offset: -2px;
}

.cell[data-status="selected"] {
  background: #ffa9a9;
}

.cell[data-status="error"] {
  background: #ec7878;
}

input.cell {
  width: 0;
  min-width: 100%;
  box-sizing: border-box;
}